*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 10px;
}

button{
  padding: 5px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;

}